.container{
    background: linear-gradient(to right, #686767, #bdbdbd); 
}

.button {
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(228, 17, 17, 0.84);
  border-radius: 10px;
  border-color: black;
  margin-left: 5px;
}

.button:hover {
  background-color: rgba(247, 123, 123, 0.695);
}
