.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2147483647;
}

.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../img/food.jpg");
  width: 100%;
  height: 100%;
}

.span {
  color: white;
  font-size: 80px;
  font-weight: bold;
  background-color: rgba(228, 17, 17, 0.692);
}
