.inputDanger {
  border: 2px solid red;
}

.spanDanger {
  color: red;
  font-size: 13px;
}

.container {
  background-size: cover;
  background-image: url("../../img/recipeCreate.jpg");
  height: 1010px;
}

.form {
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.div1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.div2 {
  margin-top: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: stretch !important;
  font-size: 50px;
  width: 100%;
  background-color: rgba(247, 123, 123, 0.695);
}

.div3 {
  margin-top: 3%;
  height: 70vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

/* 
justify-content: center / flex-start / flex-end 
alignItems: center / space-around / space-between / stretch /
*/

.div4 {
  height: 88%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.511);
  border: 1px solid #1e1e9a;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.div5 {
  width: 50%;
  height: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.div6 {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.div7 {
  height: 80%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.511);
  border: 1px solid #b3b3b7;
}

.div8 {
  height: 80%;
  width: 80%;

  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.font {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2 2 2 2px;
}

.buttonContainer {
  width: 100%;
  vertical-align: bottom;
}

.button {
  margin-top: 1%;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(228, 17, 17, 0.84);
  border-radius: 20px;
  border-color: black;
  cursor: pointer;
  height: 48px;
  width: 200px;
}

.button:hover {
  background-color: rgba(247, 123, 123, 0.695);
}